dialog.dialog-native:not(:modal) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-native__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
